<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <%= for topic <- @topics do %>
    <tr>
      <td><%= topic.title %></td>

      <td>
        <%= link "Show", to: Routes.topic_path(@conn, :show, topic) %>
        <%= if @conn.assigns.user.id == topic.user_id do %>
          <%= link "Edit", to: Routes.topic_path(@conn, :edit, topic) %>
          <%= link "Delete", to: Routes.topic_path(@conn, :delete, topic), method: :delete, data: [confirm: "Are you sure?"] %>
        <%= end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<span><%= link "New Topic", to: Routes.topic_path(@conn, :new) %></span>
